#wrapper{
	padding: 20px 50px;
}
#title-containter{
	background: #388e3c;
	color: #eee;
}
audio{
	width: 210px;
}
.greed-text{
	color: #4caf50;
}
.yellow-text{
	color: #ffc107;
}
th, td{
	text-align: center;
	vertical-align: middle;
}
.p-special{
	margin: 0;
}